Train a Regression Model

In [13]:
import pandas as pd
import numpy as np

In [16]:
bike_data = pd.read_csv("daily-bike-share_data.csv")

In [3]:
print(bike_data)

     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0          1    1/1/2011       1   0     1        0        6           0
1          2    1/2/2011       1   0     1        0        0           0
2          3    1/3/2011       1   0     1        0        1           1
3          4    1/4/2011       1   0     1        0        2           1
4          5    1/5/2011       1   0     1        0        3           1
..       ...         ...     ...  ..   ...      ...      ...         ...
726      727  12/27/2012       1   1    12        0        4           1
727      728  12/28/2012       1   1    12        0        5           1
728      729  12/29/2012       1   1    12        0        6           0
729      730  12/30/2012       1   1    12        0        0           0
730      731  12/31/2012       1   1    12        0        1           1

     weathersit      temp     atemp       hum  windspeed  rentals
0             2  0.344167  0.363625  0.805833   0.160446      331
1             2  0.363478  0.353739  0.696087   0.248539      131
2             1  0.196364  0.189405  0.437273   0.248309      120
3             1  0.200000  0.212122  0.590435   0.160296      108
4             1  0.226957  0.229270  0.436957   0.186900       82
..          ...       ...       ...       ...        ...      ...
726           2  0.254167  0.226642  0.652917   0.350133      247
727           2  0.253333  0.255046  0.590000   0.155471      644
728           2  0.253333  0.242400  0.752917   0.124383      159
729           1  0.255833  0.231700  0.483333   0.350754      364
730           2  0.215833  0.223487  0.577500   0.154846      439

[731 rows x 14 columns]

In [4]:
bike_data.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,rentals
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82

In [5]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  rentals     731 non-null    int64
dtypes: float64(4), int64(9), object(1)
memory usage: 80.1+ KB

In [6]:
type(bike_data)

pandas.core.frame.DataFrame

In [17]:
# Separate features and Labels
features = ["season", "mnth", "holiday", "weekday", "workingday", "weathersit", "temp", "atemp", "hum", "windspeed"]
X = bike_data[features].values

Y = bike_data["rentals"].values

In [11]:
bike_data[features]

,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446
1,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539
2,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309
3,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296
4,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900
...,...,...,...,...,...,...,...,...,...,...
726,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133
727,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471
728,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383
729,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754
730,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846

In [12]:
# Get the values in the form of numpy array
bike_data[features].values

array([[ 1.      ,  1.      ,  0.      , ...,  0.363625,  0.805833,
         0.160446],
       [ 1.      ,  1.      ,  0.      , ...,  0.353739,  0.696087,
         0.248539],
       [ 1.      ,  1.      ,  0.      , ...,  0.189405,  0.437273,
         0.248309],
       ...,
       [ 1.      , 12.      ,  0.      , ...,  0.2424  ,  0.752917,
         0.124383],
       [ 1.      , 12.      ,  0.      , ...,  0.2317  ,  0.483333,
         0.350754],
       [ 1.      , 12.      ,  0.      , ...,  0.223487,  0.5775  ,
         0.154846]])

In [14]:
# Printing the features and labels
print("Features:", X[:10], '\nLabels:', Y[:10], sep='\n')

Features:
[[1.        1.        0.        6.        0.        2.        0.344167
  0.363625  0.805833  0.160446 ]
 [1.        1.        0.        0.        0.        2.        0.363478
  0.353739  0.696087  0.248539 ]
 [1.        1.        0.        1.        1.        1.        0.196364
  0.189405  0.437273  0.248309 ]
 [1.        1.        0.        2.        1.        1.        0.2
  0.212122  0.590435  0.160296 ]
 [1.        1.        0.        3.        1.        1.        0.226957
  0.22927   0.436957  0.1869   ]
 [1.        1.        0.        4.        1.        1.        0.204348
  0.233209  0.518261  0.0895652]
 [1.        1.        0.        5.        1.        2.        0.196522
  0.208839  0.498696  0.168726 ]
 [1.        1.        0.        6.        0.        2.        0.165
  0.162254  0.535833  0.266804 ]
 [1.        1.        0.        0.        0.        1.        0.138333
  0.116175  0.434167  0.36195  ]
 [1.        1.        0.        1.        1.        1.        0.150833
  0.150888  0.482917  0.223267 ]]

Labels:
[331 131 120 108  82  88 148  68  54  41]

Train and Testing

In [18]:
from sklearn.model_selection import train_test_split

In [20]:
# Spilt data 70%-30% into training and test set
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30)

# '''
# X_train: training data feature
# X_test: testing data feature
# Y_train: training data target
# Y_test: testing data target
# '''

In [21]:
Y_test

array([ 634,  190, 1196,  563,   46,   47,  987,  956, 1328,  244,   72,
         89, 2224,  676, 2643, 1455,  140, 1059, 1139,  153,  768,  359,
        560, 1017,  661,  190,  989, 1208, 1008, 2282, 2006, 1153,  673,
         38,   34,  998, 1559,  314,  625,  117, 3410,   42, 1250, 1935,
         15,   41,  834, 2634,  997,  538, 2557, 1156,  198,  921, 1029,
       1081,  203,  611,  692,  867,  606,  439, 1259,  614,  290,   38,
        639, 3031, 1095, 2454,  871,  647,  729,  244,  120,  819,  326,
        863,  667,  269, 1263, 3065, 2469,  747,  764,  342, 1128,  745,
        981, 2570,  221,  830, 1576, 2172, 1544,  762, 2090, 1424,  678,
        665,  471,  879,  482,  371,  120,  377,  905,  753, 1236,  108,
       1516,  288,  531,  204,  303,   54,   54,  601,  954, 2355,  370,
        640,  268,  449, 1511,  480,  810, 1074, 1313,  968, 1065, 2795,
        255,  878, 1097,   25,  195, 1038, 2622,  126, 1051, 1180,  723,
        653,  734,  131,  907,  401,  955, 1140, 1050,  121, 2153, 1120,
        568,  324,  440,  107,  767,  662,  321,    9,  781, 1405,  466,
       2397,  188, 2795,  135,  123,  126, 2207,  854,  329,  547,  516,
        532,  874,  551, 1069,  140,  616, 1036,  325, 1014, 1249, 1750,
        518,   88, 1558,  655,  888,  251,  758,  191,  282,  227,  139,
        709, 1027,  261,  456, 1207,  163, 1275,  841,  618,  247,  309,
       1004, 1379, 1619, 1483,  254,  690, 2132,  773,  515,  254, 1434],
      dtype=int64)

In [22]:
# Train the model
from sklearn.linear_model import LinearRegression

In [23]:
# Fit a linear regression model on the training set

model = LinearRegression().fit(X_train, Y_train)
print(model)

LinearRegression()

Evaluate the Trained Model

In [24]:
import numpy as np
predictions = model.predict(X_test)

In [25]:
# Predicted
print("Predicted labels: ", np.round(predictions, 0)[:10])
print("Actual labels: ", Y_test[:10])

Predicted labels:  [1104.  315. 1219. 1264.  573. -117. 2437. 1290. 1126.  611.]
Actual labels:  [ 634  190 1196  563   46   47  987  956 1328  244]